@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;700&display=block');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 10px;
  color: #222;
  overflow: hidden;
}

body {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.requestInvite {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background: rgb(49, 211, 92);
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(43, 183, 218, 1) 100%
  );
  max-width: 100%;
}


@media (width < 850px) {
  .desktopOnly {
    display: none;
  }
}


